*
  box-sizing border-box
  text-size-adjust none

html
  width 100%
  height 100%
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  width 100%
  min-width 970px
  height 100%
  margin 0
  font-family $dinCondensed
  font-size 14px
  font-weight 400
  color $black