$cls = 'contacts'

.{$cls}
  font-family $openSans

  &__phone
    display inline-block
    vertical-align top
    width 40%

  &__email
    display inline-block
    vertical-align top
    width 60%

  &__title
    margin-bottom 3px
    color #9b9b9b

  &__text
    font-size 14px
    font-weight 700


@media $mDesktop
  .{$cls}
    &__phone
      width 39%