$cls = 'detailed-form'

.{$cls}
  &__options
    padding-top 5%
    padding-right 8.8%
    padding-left 4.3%
    .title
      font-weight 500

  &__additional-options
    padding-top 6.3%
    padding-right 8.8%
    padding-bottom 5%
    padding-left 4.3%
