$cls = 'fast-buy'

.{$cls}
  &__solutions
    padding-top 7.2%
    padding-left 4%
    padding-right 4%
    padding-bottom 5.4%
    border-bottom 1px solid $border
    .title
      font-weight 500

  &__options
    padding-top 5%
    padding-right 4.3%
    padding-left 4.3%
    .title
      font-weight 500