$cls = 'footer'

.{$cls}
  background-color #f6f7f9

  &__social
    padding-top 4%
    padding-right 9.3%
    padding-bottom 2.7%
    padding-left 4%
    font-size 0
    border 1px solid $border

  &__logo
    display inline-block
    vertical-align middle
    width 30%
    font-size 0

  &__logo-icon
    display inline-block
    vertical-align middle
    margin-right 12%
    .icon_logo
      width 45px
      height 65px

  &__logo-text
    display inline-block
    vertical-align middle
    font-family $openSans
    font-size 14px
    line-height 20px

  &__social-list
    display inline-block
    vertical-align middle
    width 70%
    text-align right

  &__contacts
    padding-top 4%
    padding-right 9.3%
    padding-bottom 2.7%
    padding-left 4%
    border-bottom 1px solid $border

  &__sitemap
    padding-right 5.4%
    padding-bottom 7%
    padding-left 4.4%


@media $mDesktop
  .{$cls}
    &__social
      padding-top 5.3%
      padding-right 4.3%
      padding-left 5.5%
    &__contacts
      padding-bottom 5.5%
      padding-left 4.5%
    &__sitemap
      padding-left 5.4%
      padding-right 3.4%