$cls = 'header'

.{$cls}
  position fixed
  top 0
  left 0
  display table
  width 100%
  height 113px
  border-spacing 0
  z-index 10

  &__left
    display table-cell
    vertical-align middle
    width 44.5%
    height 100%
    background #fff

  &__right
    display table-cell
    vertical-align middle
    width 55.5%
    height 100%

@media $mDesktop
   .{$cls}
     &__left
       width 48%
     &__right
       width 52%

     &_index
       .{$cls}
         &__left
           width 49%
         &__right
           width 51%