$cls = 'icon'

.{$cls}
  display inline-block
  vertical-align middle
  background-repeat no-repeat
  cursor pointer

  &_pointer-down-green
    width 12px
    height 8px
    margin-left 5px
    background-image url(../img/icon-pointer-down-green.png)
    background-size 12px 8px