$cls = 'insurance-company'

.{$cls}
  padding-top 8%
  padding-right 5.5%
  padding-bottom 5%
  padding-left 5.5%
  background-color #fff

  &__header
    margin-bottom 7.5%
    &:after
      clearfix()

  &__title
    font-weight 500
    float left

  &__more
    padding-top 3px
    float right
    font-family $openSans
    font-size 14px
    max-width 50%

  &__list
    font-size 0

  &__item
    display inline-block
    vertical-align middle
    width 30%
    margin-bottom 8%
    &:nth-of-type(3n + 1)
      text-align left
    &:nth-of-type(3n + 2)
      text-align center
    &:nth-of-type(3n + 3)
      text-align right
    &:not(:nth-of-type(3n))
      margin-right 3.3%
    img
      display inline-block
      max-width 100%