$cls = 'insurance-types'

.{$cls}
  padding-top 6.7%
  padding-right 6.1%
  padding-left 5.7%
  font-size 0
  background-color #f6f7f9

  &__col
    display inline-block
    vertical-align top
    margin-bottom 10%
    padding-right 5%
    &:nth-of-type(1)
      width 56.4%
    &:nth-of-type(2)
      width 43.6%

  &__item
    &:not(:last-of-type)
      margin-bottom 5.2%

  &__icon
    display inline-block
    vertical-align top
    width 30px
    margin-right 13px
    text-align center // выравнять svg по центру
    .icon
      fill $green
    .icon_house-man
    .icon_heart-purse
    .icon_car
      margin-top 7px
    .icon_heart
      fill none
      stroke $green
    .icon_heart-rating
      margin-top 5px

  &__link
    display inline-block
    vertical-align top
    width calc(100% - 43px)
    padding-top 5px
    font-size 20px
    font-weight 500
    line-height 23px
    .link
      font-family $dinCondensed


@media $mDesktop
  .{$cls}
    padding-top 9.7%
    padding-right 5.1%
    padding-left 6.3%

    &__col
      &:nth-of-type(1)
        width 53.3%
      &:nth-of-type(2)
        width 46.7%
        padding-right 0

    &__item
      &:not(:last-of-type)
        margin-bottom 6.5%

    &__icon
      margin-right 9px
      .icon_house
        margin-top 7px
      .icon_heart-rating
        margin-top 10px
      .icon_house-man
        margin-top 3px
      .icon_car
        margin-top 9px