$cls = 'options'

.{$cls}
  &__title
    margin-bottom 20px

  &__item
    font-size 0
    &:not(:last-of-type)
      margin-bottom 33px

  &__label
    font-family $openSans
    font-size 14px
    line-height 20px
    color $black
    margin-bottom 8px

  &__select
    width 92%

  &__leaving
    display inline-block
    vertical-align middle
    width 234px

  &__traveling
    display inline-block
    vertical-align middle