$cls = 'page'

.{$cls}
  &__content
    display table
    border-spacing 0
    width 44.5%
    height 100%
    font-size 0

  &__sidebar
    display table
    border-spacing 0
    width 55.5%
    height 100%
    font-size 0

@media $mDesktop
  .{$cls}
    &__sidebar
      width 52.5%