$cls = 'pdf'

.{$cls}
  &__icon
    display inline-block
    vertical-align middle
    width 35px
    margin-right 10px
    padding-right 5px
    padding-left 5px
    font-family $openSans
    font-size 14px
    line-height 22px
    font-weight 400
    color #fff
    background-color #d10000
    border-radius 4px

  &__link
    display inline-block
    vertical-align middle
    width calc(100% - 45px)
    font-size 14px