$cls = 'progress'

.{$cls}
  padding-top 40px

  &__range
    margin-bottom 40px
    padding-right 7px
    font-family $openSans
    font-size 14px

  &__checkbox-help
    position relative
    padding-right 64px

  &__icon-help
    position absolute
    top 50%
    margin-left 13px
    transform translateY(-50%)