$cls = 'search'

.{$cls}
  &__input
    position relative
    .input
      height 32px
      padding-left 30px
      padding-right 40px
      border-radius 87px
      border none
      background-color #fff
      &:focus
        border none

  &__icon
    position absolute
    top 50%
    right 15px
    transform translateY(-50%)
    user-select none
