$cls = 'tabs'

.{$cls}
  display table-cell
  vertical-align top
  width 61.5%
  background-color #f4f4f4
  //box-shadow inset 12px 0 12px alpha($border, 39%)

  &__header
    display table
    width 100%
    border-spacing 0
    border-collapse collapse
    border-bottom 1px solid $green

  &__item
    display table-cell
    vertical-align top
    height: 100%
    padding-top 18px
    padding-bottom 16px
    padding-left 15px
    padding-right 15px
    color $green
    text-align center
    transition background-color .2s ease
    cursor pointer
    &_fast-buy
      width 45%
    &_detailed
      width 55%
    &._active
      background-color $green
      color #fff
    .title
      font-weight 500

  &__content-item
    display none
    &._active
      display block


@media $mDesktop
  .{$cls}
    width 63.5%

    &__item
      text-align left
      padding-top 5.2%
      padding-right 3%
      padding-bottom 5%
      padding-left 8%
      .title
        line-height 21px
      &_fast-buy
        width 44.5%
