$cls = 'trip-canceled'

.{$cls}
  padding-top 7px
  padding-left 33px
  font-size 0

  &__input
    display inline-block
    vertical-align top
    width 25%
    margin-right 5.2%

  &__checkbox-help
    position relative
    display inline-block
    vertical-align top
    width 69.8%
    padding-top 10px
    padding-right 64px

  &__icon-help
    position absolute
    top 50%
    margin-left 13px
    transform translateY(-50%)