include /bundle/__blocks/_mixins/_bemto

doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='icon', sizex="16x16", href="./static/img/favicon.png")
    title BulloSafe
    link(rel='stylesheet', href='./static/css/fonts.css')
    link(rel='stylesheet', href='./static/lib/select2/dist/css/select2.min.css')
    link(rel='stylesheet', href='./static/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css')
    link(rel='stylesheet', href='./static/css/style.css')
    block css

  +b('body').page
    block content

    block templates


    script(src='./static/lib/jquery/dist/jquery.min.js')
    script(src='./static/lib/select2/dist/js/select2.full.min.js')
    script(src='./static/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='./static/lib/bootstrap-datepicker/dist/locales/bootstrap-datepicker.ru.min.js')
    script(src='./static/js/common.js')
    block js