extends /bundle/template/base

include /bundle/__blocks/radio/_radio
include /bundle/__blocks/checkbox/_checkbox


block header
  +b.header
    +b.header-left.__left
      +e.menu
        +e.accordion
        +e.icon-loupe
          +icon('loupe')
      +e.logo
        +e.logo-icon
          +icon('logo')
        +e.logo-text
          +e.text-bullo
            +icon('text-bullo')
          +e.text-safe
            +icon('text-safe')
          +e.text-broker Страховой брокер
      +e.how-it-work
        +e.link
          +b.link_color_green(href='#') Как это работает?
        +e.link
          +b.link_color_green(href='#') Что делает при страховом случае?

    +e.right
      +b.header-right
        +b.feedback.__feedback
          +e.item
            +e.icon
              +icon('russia')
            +e.info
              +e.title Бесплатняй по России
              +b.link.__phone(href='tel:+78009991111') 8 800 999 11 11
          +e.item
            +e.icon
              +icon('moscow')
            +e.info
              +e.title Для Москвы
              +b.link.__phone(href='tel:+74951501511') 8 495 150 15 11
        +b.hotline.__hotline
          +e.icon
            +icon('woman')
            +e.online

block content
  +e.inner
    +e.left.js-scroll-column
      +b.company-list
        +b.title_size_xl.__title Страхование путешественников
        -
          var companyList = [
          {logo: 'static/img/img-rosgosstrah-bird.png', price: '1027,4' },
          {logo: 'static/img/img-soglasie.png', price: '1027,4' },
          {logo: 'static/img/img-reso.png', price: '1027,4' },
          {logo: 'static/img/img-opora.png', price: '1027,4' },
          {logo: 'static/img/img-reso.png', price: '1027,4' },
          {logo: 'static/img/img-rosgosstrah-bird.png', price: '1027,4' }
          ]
        each company in companyList
          +e.item
            +b.company.js-company
              +e.header
                +e.logo
                  img(src=company.logo)
                +e.price!= company.price + ' &#8381;'
                +e.buy
                  +b.button_color_green._size_m._uppercase Купить
              +e.info
                +e.info-more.js-company-more-btn
                  +b.link_color_green.__info-more-link Подробнее
                    +b('i').icon_pointer-down-green
                +e.info-expert
                  +e.info-title Рейтинг Эксперта
                  +e.info-rating A++
                +e.info-asn
                  +e.info-title Рейтинг АСН
                  +e.info-rating 85 Отлично!
              +e.content.js-company-content
                +e.pdf-list
                  +e.pdf-item
                    +b.pdf
                      +e.icon PDF
                      +b.link_color_green.__link(href='#') Правила страхования
                  +e.pdf-item_sep
                    +b.pdf
                      +e.icon PDF
                      +b.link_color_green.__link(href='#') Образев полиса
                +e.included
                  +b.title_size_m.__included-title Что входит в покрытие
                  +e('table').included-list
                    -
                      var includedList = [
                        {name: 'Экстренная медицинская помощь', price: '30 000 &euro;'},
                        {name: 'Медикаменты', price: '30 000 &euro;'},
                        {name: 'Медицинское оборудование', price: '30 000 &euro;'},
                        {name: 'Медицинская транспортировка', price: '30 000 &euro;'},
                        {name: 'Перевозка останков', price: '30 000 &euro;'},
                        {name: 'Эвакуация детей', price: '1 000 &euro;'},
                        {name: 'Стоматология', price: '250 &euro;'},
                        {name: 'Возвращение из поездки', price: '1 000 &euro;'},
                        {name: 'Утрата документов', price: '500 &euro;'},
                        {name: 'Юридическая помощь', price: '1 000 &euro;'},
                        {name: 'Оплата срочных сообщений', price: '100 &euro;'},
                        {name: 'Задержка рейса', price: '1 000 &euro;'},
                        {name: 'Визит третьего лица'}
                      ]
                    each item in includedList
                      +e('tr').included-row
                        +e('td').included-name= item.name
                        +e('td').included-price!= item.price
                +e.footer
                  +e.footer-buy
                    +b.button_color_green._size_m._uppercase Купить
                  +e.footer-price!= company.price + ' &#x20bd;'

        +b.company-chosen-list
          +e.item
            +e.item-header
             +b.title_size_l.__title Вы выбрали:
             +e.back-to-top.js-back-to-top Вернуться к выбору
            +b.company_chosen.js-company
              +e.header
                +e.logo
                  img(src='static/img/img-opora.png')
                +e.price 927,4 &#8381;
                +e.chosen
                  +e.chosen-icon
                    +icon('check')
              +e.info
                +e.info-more.js-company-more-btn
                  +b.link_color_green.__info-more-link Подробнее
                    +b('i').icon_pointer-down-green
                +e.info-expert
                  +e.info-title Рейтинг Эксперта
                  +e.info-rating A++
                +e.info-asn
                  +e.info-title Рейтинг АСН
                  +e.info-rating 85 Отлично!
              +e.content.js-company-content
                +e.pdf-list
                  +e.pdf-item
                    +b.pdf
                      +e.icon PDF
                      +b.link_color_green.__link(href='#') Правила страхования
                  +e.pdf-item_sep
                    +b.pdf
                      +e.icon PDF
                      +b.link_color_green.__link(href='#') Образев полиса
                +b.tabs_company
                  +e.header
                    +e.item_included.js-tabs-item(data-tab='included')
                      +b.title_size_m Что входит
                    +e.item_what-to-do._-active.js-tabs-item(data-tab='what-to-do')
                      +b.title_size_m Действия при страховом случае
                  +e.content
                    +e.content-item.js-content-item(data-content='included')
                      +b.company__included
                        +b.title_size_m.company__included-title Что входит в покрытие
                        +b('table').company__included-list
                          -
                            var includedList = [
                            {name: 'Экстренная медицинская помощь', price: '30 000 &euro;'},
                            {name: 'Медикаменты', price: '30 000 &euro;'},
                            {name: 'Медицинское оборудование', price: '30 000 &euro;'},
                            {name: 'Медицинская транспортировка', price: '30 000 &euro;'},
                            {name: 'Перевозка останков', price: '30 000 &euro;'},
                            {name: 'Эвакуация детей', price: '1 000 &euro;'},
                            {name: 'Стоматология', price: '250 &euro;'},
                            {name: 'Возвращение из поездки', price: '1 000 &euro;'},
                            {name: 'Утрата документов', price: '500 &euro;'},
                            {name: 'Юридическая помощь', price: '1 000 &euro;'},
                            {name: 'Оплата срочных сообщений', price: '100 &euro;'},
                            {name: 'Задержка рейса', price: '1 000 &euro;'},
                            {name: 'Визит третьего лица'}
                            ]
                          each item in includedList
                            +b('tr').company__included-row
                              +b('td').company__included-name= item.name
                              +b('td').company__included-price!= item.price
                    +e.content-item._-active.js-content-item(data-content='what-to-do')
                      +b.what-to-do
                        p Позвоните в сервисный центр по номерам телефонов, указанным в страховом полисе или информации по страхованию, будьте готовы сообщить следующую информацию:
                        ul
                          li Фамилия, Имя
                          li Номер страхового полиса или номер информации по страхованию
                          li Местонахождение и контактный телефон
                          li Обстоятельства, при которых наступил страховой случай
                          li Какая помощь требуется
                        +e.gray
                          p Важно!
                          p  Строго следуйте рекомендациям сотрудников Сервисного центра.
                          p  В случае невозможности связаться с сервисным центром при наступлении страхового случая, страховая компания возместит расходы
                +e.footer
                  +e.phones
                    +e.phones-item
                      +e.phones-title Сервисный центр СК «Опора»
                      +e.phones-number +7 (495) 123 45 67
                    +e.phones-item
                      +e.phones-title Сервисный центр Bullo.Safe
                      +e.phones-number 8 (800) 123 45 67


    +e.right.js-scroll-column
      +e.right-inner
        +b.tabs.__tabs
          +e.header
            +e.item_fast-buy._-active.js-tabs-item(data-tab='fast-buy')
              +b.title_size_m Быстрая покупка
            +e.item_detailed.js-tabs-item(data-tab='detailed')
              +b.title_size_m Подробное оформление
          +e.content
            +e.content-item._-active.js-content-item(data-content='fast-buy')
              +b.fast-buy
                +b.solutions.__solutions
                  +b.title_size_l.__title Готовые решения
                  +e.list
                    -
                      var radioFilter = [
                      {cls: '_-active', title: 'Виза в Европу', bg: './static/img/bg-solutions-1.jpg'},
                      {title: 'Страховой полис для поездки в Америку', bg: './static/img/bg-solutions-2.jpg'},
                      {title: 'Спортивная страховка', bg: './static/img/bg-solutions-3.jpg'},
                      {title: 'Страховка с покрытием для беременных', bg: './static/img/bg-solutions-4.jpg'}
                      ]
                    each item in radioFilter
                      +e.item.js-rf-item(style='background-image:url(' + item.bg + ');')
                        +e.radio
                          +radio({name: 'radio-filter'})
                        +e.type
                          +b.title_size_m.__type-title!= item.title
                          +e.type-description Страховой полис с покрытием 30 000 евро минимальным наполнением и самой оптимальной ценой. Подходит для подачи документов на визу в Европу
                +b.options.__options
                  +b.title_size_l.__title Опции
                  +e.item
                    +e.label Страна
                    +e.select
                      +b('select').select.js-select(multiple, style='width: 100%')
                        option Россия
                        option Астралия
                        option Албания
                  +e.item_sep
                    +e.label Когда уезжаете?
                    +b.date-field.__leaving
                      +b.input_size_m.__input.js-datepicker(type='text')
                      +e.icon
                        +icon('calendar')
                    +e.traveling
                      +checkbox({label: 'Я уже путешествую'})
                  +e.item
                    +b.insuranced-ppl.__insuranced-ppl.js-insurance-ppl
                      +e.title Кол-во застрахованых
                      +e.item
                        +e.counter
                          +checkbox({label: '1й'})
                        +e.select
                          +b('select').select.js-select(style='width: 100%')
                            option 30 лет
                            option 20 лет
                            option 10 лет
                        +e.add-ppl
                          +b.link_color_green.js-insurance-ppl-add Добавить еще человека
                +e.submit
                  +b('input').button_size_m._color_green._uppercase.__submit(type='submit') Применить фильтры

            +e.content-item.js-content-item(data-content='detailed')
              +b.detailed-form
                +b.options.__options
                  +b.title_size_l.__title Опции
                  +e.item
                    +e.label Страна
                    +e.select
                      +b('select').select.js-select(multiple, style='width: 100%')
                        option Россия
                        option Астралия
                        option Албания
                  +e.item_sep
                    +e.label Когда уезжаете?
                    +b.date-field.__leaving
                      +b.input_size_m.__input.js-datepicker(type='text')
                      +e.icon
                        +icon('calendar')
                    +e.traveling
                      +checkbox({label: 'Я уже путешествую'})
                  +e.item
                    +b.insuranced-ppl.__insuranced-ppl.js-insurance-ppl
                      +e.title Кол-во застрахованых
                      +e.item
                        +e.counter
                          +checkbox({label: '1й'})
                        +e.select
                          +b('select').select.js-select(style='width: 100%')
                            option 30 лет
                            option 20 лет
                            option 10 лет
                        +e.add-ppl
                          +b.link_color_green.js-insurance-ppl-add Добавить еще человека

                +b.additional-options.__additional-options
                  +e.header
                    +b.title_size_l.__title Дополнительные опции
                    +b.link_color_green.__close.js-ao-close Скрыть
                  +e.body
                    +e.item
                      +e.label Страховая сумма
                      +b.radio-buttons
                        +e.item
                          +e('input').input(type='radio', id='id-insurance-sum-30k' name='insurance-sum', checked)
                          +e('label').label(for='id-insurance-sum-30k') 30 000 &euro;
                        +e.item
                          +e('input').input(type='radio', id='id-insurance-sum-50k' name='insurance-sum')
                          +e('label').label(for='id-insurance-sum-50k') 50 000 &euro;
                        +e.item
                          +e('input').input(type='radio', id='id-insurance-sum-100k' name='insurance-sum')
                          +e('label').label(for='id-insurance-sum-100k') 100 000 &euro;
                    +e.item_sep
                      +b.title_size_s.__title.__title_sans Что входит в медицинское страхование
                      +b.checkbox-list
                        each name in ['Репатриация', 'Оплата проезда до больницы', 'Медицинская помощь в результате терактов']
                          +e.item
                            +checkbox({label: name})
                    +e.item_sep
                      +b.title_size_s.__title.__title_sans Осложнение протекания беременности:
                      +e.select-help
                        +b('select').select.js-select(style='width: 100%')
                        +b.icon_help.__icon-help ?
                    +e.item_sep
                      +b.title_size_s.__title.__title_sans Страхование при занятиях спортом
                      +e.select-help
                        +b('select').select.js-select(style='width: 100%')
                        +b.icon_help.__icon-help ?
                    +e.item_sep
                      +e.checkbox-help
                        +checkbox({label: 'Страхование от несчастных случаев'})
                        +b.icon_help.__icon-help ?
                      +b.radio-list_horizontal.__radio-list
                        each radio in ['5000 &euro;', '10000 &euro;', '15000 &euro;']
                          +e.item
                            +radio({label: radio, name: 'insurance-аccident'})
                    +e.item_sep
                      +e.checkbox-help
                        +checkbox({label: 'Страхование багажа'})
                        +b.icon_help.__icon-help ?
                      +b.progress.__progress
                        +e.range
                          +e.input.js-progress
                        +e.checkbox-help
                          +checkbox({label: 'Страхование задержки багажа'})
                          +b.icon_help.__icon-help ?
                    +e.item
                      +e.checkbox-help
                        +checkbox({label: 'Страхование отмены поездки'})
                        +b.icon_help.__icon-help ?
                      +b.trip-canceled
                        +e.input
                          +b('input').input_size_m(type='text')
                        +e.checkbox-help
                          +checkbox({label: 'Страховой случай при амбулаторном лечении'})
                          +b.icon_help.__icon-help ?

          +b.dropdown._-open
            +e.header
              +b.title_size_l.__title Параметры поиска
              +e.icon
                +icon('triangle-pointer')
            +e.content
              +b.title_size_l.__title Данные о путешественниках
              +b.travelers-data
                +e.added-list
                  +e.added-item Ivanov Ivan 15.05.1976
                  +e.added-item Svetlana Konuhova 15.05.1986
                +e.add-card-list.js-travelers-list
                  +b.add-card.__add-card
                    +e.counter 1
                    +e.close.js-add-card-close
                      +icon('close')
                    +e.last-name
                      +e.label  Фамилия латиницей
                      +e.input
                        +b.input_size_m(type='text')
                    +e.first-name
                      +e.label Имя латиницей
                      +e.input
                        +b.input_size_m(type='text')
                    +e.birthday
                      +e.label Дата рождение
                      +b.date-field
                        +b.input_size_m.__input.js-datepicker(type='text')
                        +e.icon
                          +icon('calendar')
                  +b.add-card.__add-card
                    +e.counter 2
                    +e.close.js-add-card-close
                      +icon('close')
                    +e.last-name
                      +e.label  Фамилия латиницей
                      +e.input
                        +b.input_size_m(type='text')
                    +e.first-name
                      +e.label Имя латиницей
                      +e.input
                        +b.input_size_m(type='text')
                    +e.birthday
                      +e.label Дата рождение
                      +b.date-field
                        +b.input_size_m.__input.js-datepicker(type='text')
                        +e.icon
                          +icon('calendar')
                +e.add-new
                  +b.button._color_gray.js-add-new-traveler
                    +icon('man')
                    | Добавить еще путешественника

                +e.pay
                  +e.pay-price
                    +e.pay-price-title Стоиомсть страховки
                    +e.pay-price-number 926,4 ₽
                  +e.pay-btn
                    +b.button_size_l._color_green._uppercase(type='submit') Оплатить страховку
                    +e.submit-icon
                      +icon('triangle-pointer')

          +b.dropdown._-open
            +e.header
              +b.title_size_l.__title Данные о путешествениках
              +e.icon
                +icon('triangle-pointer')
            +e.content
              +b.title_size_l.__title Покупатель
              +b.traveler-buyer
                +e.row
                  +e.item_phone
                    +e.label Телефон
                    +e.input
                      +b.input_size_m._color_gray(type='text', placeholder='+7')
                  +e.item_mail
                    +e.label E-mail
                    +e.input
                      +b.input_size_m._color_gray(type='text', placeholder='Ivan')
                +e.row
                  +e.item_lname
                    +e.label Фамилия
                    +e.input
                      +b.input_size_m._color_gray(type='text', placeholder='Иванов')
                  +e.item_fname
                    +e.label Имя
                    +e.input
                      +b.input_size_m._color_gray(type='text', placeholder='Иванов')
                +e.row
                  +e.item_birth
                    +e.label Дата рождения
                    +b.date-field
                      +b.input_size_m.__input.js-datepicker(type='text')
                      +e.icon
                        +icon('calendar')
                  +e.item_pasport
                    +e.label Серия и номер (загранпаспорт)
                    +e.input_serial
                      +b.input_size_m._color_gray(type='text', placeholder='0000')
                    +e.input_number
                      +b.input_size_m._color_gray(type='text', placeholder='000000')
                +e.row
                  +checkbox({label: 'Я согласен с <a class="link link_color_green" href="#">условиями передачи информации</a>'})
                +e.pay
                  +e.pay-price
                    +e.pay-price-title Стоиомсть страховки
                    +e.pay-price-number 926,4 ₽
                  +e.pay-btn
                    +b.button_size_l._color_green._uppercase(type='submit') Оплатить
                    +e.submit-icon
                      +icon('triangle-pointer')



        +b.helper._-visible
          +e.item
            +e.time 4 мин назад
            +e.answer
              +e.icon ?
              +e.text
                | Это у нас можно. <br> <br>
                | Делаете взнос и Вы уже клиент страховой фирмы Альбатрос.


block js
  script(src='./static/js/select.js')
  script(src='./static/js/datepicker.js')

block templates
  template#insurancedPpl
    +b.insuranced-ppl__item
      +b.insuranced-ppl__counter
        +b('label').checkbox
          +e('input').input(type='checkbox')
          +e.icon
          +e.label {{name}}й
      +b.insuranced-ppl__select
        +b('select').select.js-select(style='width: 100%')
          option 30 лет
          option 20 лет
          option 10 лет
      +b.insuranced-ppl__add-ppl
        +b.link_color_green.js-insurance-ppl-add Добавить еще человека

  template#addCard
    +b.add-card.__add-card
      +e.counter {{counter}}
      +e.close.js-add-card-close
        +icon('close')
      +e.last-name
        +e.label  Фамилия латиницей
        +e.input
          +b.input_size_m(type='text')
      +e.first-name
        +e.label Имя латиницей
        +e.input
          +b.input_size_m(type='text')
      +e.birthday
        +e.label Дата рождение
        +b.date-field
          +b.input_size_m.__input.js-datepicker(type='text')
          +e.icon
            +icon('calendar')